.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../styles/images/header-bg.png);
  background-size: cover;
  background-position: right;

  @include ontablet {
    background-position: center;
  }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

  &__title {
    text-align: center;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include ontablet {
      font-size: 64px;
    }

    @include ondesktop {
      font-size: 80px;
    }
  }

  &__bottom {
    padding-bottom: 88px;

    @include contentpaddinginline;

    @include ontablet {
      padding-bottom: 130px;
    }

    @include ondesktop {
      padding-bottom: 203px;
    }
  }
}
